<h2 class="page-header">Welcome {{username}} to Dashboard</h2>
<hr>
<div class="container">
	
	
	
		<div class="row well" id="content">
			<form action="" method="POST">
	        <div class="col-md-2">
				
				<div class="form-group" id="date">
					<label>Check-In</label>
					<input type="month" name="checkin" class="form-control" min="2013-01" max="2020-01" id="checkin">
                </div></div> 
                <div class="col-md-2">
				<div class="form-group" id="date2">
					<label>Check-Out</label>
					<input type="month" name="checkout" class="form-control" min="2013-01" max="2020-01"required="" id="checkout">
                    </div> </div> 
            <span id="bookBtn">
						
						<button class="btn btn-warning btn-lg btn-block col-md-2" id="check_me" type="button">Check Availability</button>
                </span>
            </form> 
    </div></div>
