<div class="jumbotron text-center">
  <h1>Hotel Management System</h1>
  <p class="lead"><strong> By Javeria Gauhar And Muneeba Kaleem</strong></p>
  <div>
    <a routerLink="/register" class="btn btn-primary">Register</a>
    <a routerLink="/login" class="btn btn-default btn-warning">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://thumbs.dreamstime.com/b/check-hotel-young-couple-suitcases-standing-t-reception-desk-vector-illustration-flat-style-84159897.jpg" alt="placeholder image" width="140" height="170">
      <div class="caption">
        <h3>Add Reservations</h3>
        <p></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://image.freepik.com/free-vector/vector-cartoon-illustration-interior-orange-blue-bedroom-a-living-room-with-a-bed-soft-chair_1441-446.jpg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Add Rooms</h3>
        <p></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://thumbs.dreamstime.com/b/receptionist-hotel-illustration-42133334.jpg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Check Availabilty Feature/Calendar Feature</h3>
        <p></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://thumb10.shutterstock.com/display_pic_with_logo/473872/504348343/stock-vector-icon-invoice-design-504348343.jpg" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Billing/Add Payment Cards</h3>
        <p></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjil7TGJHAqFYOdbqTZ2O0vE-rLF6--FF5YGqg2SQVOFElt9Xi" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Food Ordering</h3>
        <p></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class=thumbnail> <img src="https://media.istockphoto.com/vectors/profession-set-hotel-maid-cart-vector-id591441158" alt="Generic placeholder image" width="140" height="140">
      <div class=caption>
        <h3>Add Housekeepers</h3>
        <p></p>
      </div>
    </div>
  </div>

</div>
